body{
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.contenedor{
    width: 60%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

}

.contenedorLogo{
    width: 100%;
    height: 30%;
    left: 50%;
}

.botonLogo{
    width: 100%;
    height: 70%;
}

.imagenLogo{
    width: 100%;
    height: 100%;
}
